* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #17a2b8;
}
.wrapper {
    width: 770px;
    padding: 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px  8px 15px  #cbebf0;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius:10px;
    border: 1px solid #ccc;
}
.content-box .typing-text {
    max-height: 255px;
    overflow-y: auto;
}
.typing-text p{
    font-size: 22px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.content-box .content {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    padding: 12px 0;
    align-items: center;
    border-radius: 1px solid #ccc;
    justify-content: space-between;
}
.content button {
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    background-color: #17a2b8;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ease;
}
.content button:active {
    transform: scale(0.97);
}
.content .result-details {
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    list-style: none;
}
.result-details li p {
    font-size: 19px;
}
.result-details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 1px solid #ccc;
}
